<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario General</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='Styles/general.css' )}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <header>
        <h1>Perfil Usuario General</h1>
    </header>

    <main>
        <aside>
            <div class="titulo">Menú de Opciones</div>

            </div>
            <div class="opciones">
                <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
                <a href="{{url_for('inventarioGeneral')}} ">Buscar Producto</a>
            </div>
            <div class="opciones">
                <i class="fas fa-sign-out-alt fa-lg fa-fw" aria-hidden="true"></i>
                <a href="{{ url_for('index') }}">Cerrar Sesión</a>
            </div>
        </aside>
        <section>
            <div id="welcome">
                <p>
                    <span>
                        ¡ Bienvenido !
                    </span>
                </p>
                <p>
                    Usted ha ingresado de manera exitosa al aplicativo de gestión de inventarios de la Cafetería UNI.
                </p>
                <p>
                    Dentro de esta sección usted podrá gestionar la búsqueda de los productos, a la vez que podrá tener
                    acceso para actualizar el inventario. Esperamos que la plataforma sea de su completo agrado.
                </p>
                <p>
                    Cualquier duda o sugerencia por favor comunicarse cuanto antes con el personal administrativo.
                </p>
            </div>
        </section>
    </main>

    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
</body>

</html>