<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestor de inventario para cafeteria">
    <meta name="keywords" content="Inventario, Gestos de invetario, Cafeteria">
    <!--Titulo de la pagina -->
    <title>Inventario | Cafeteria</title>
    <!-- Conexion con la carpeta de css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/admin.js')}}"></script>

</head>

<body>

    <header>
        <h1 class="titulo">Inventario para cafeteria </h1>

    </header>

    <form action="/producto" method="POST" id="CrearProducto" onsubmit="return validarDatosCrearProducto();">
        <div class="formulario">
            <div class="etiquetas">
                <label for="nombre">Nombre Producto</label>
                <label for="cantidad">Cantidad</label>
                <label for="descripcion">Descripción</label>

            </div>
            <div class="formularioUsuario">
                <input type="text" name="namep" id="namep">
                <input type="number" name="quantity" id="quantity">
                <input type="text" name="description" id="description">
                <input type="file" name="photo" id="photo">
                <input class="enviar" type="submit" value="Crear Producto">
            </div>
        </div>
    </form>

    <main>

        <section>
            <form action="/filtrar" method="GET">

                <input class="barraBusqueda" type="search" id="buscar" name="Buscar" placeholder="Buscar">
                <div class="botones">
                    <input href="{{ url_for('filtrar')}}" class="busqueda" type="submit" value="Buscar" />
                    <input class="busqueda" type="button" value="Regresar" onclick="location.href= 'admin.html'" />
                    <!--<a class="regresar" href="{{ url_for('administrador') }}">Regresar</a> -->
                </div>
            </form>
            <table class="tabla">

                <tr>
                    <th></th>
                    <th>Miniatura</th>
                    <th>Nombre</th>
                    <th>ID producto</th>
                    <th>Cantidad</th>
                    <th>descripción</th>
                    <th>Acción</th>
                </tr>
                {% for row in rows %}
                <tr>

                    <td></td>
                    <td>{{ 0 }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>

                        <li>


                            <button class="botones">
                                <a href="{{ url_for('editar',nombre=row[1],cantidad=row[2],desc=row[3])}}">Editar</a>
                            </button>
                        </li>

                        <li>
                            <button class="botones">
                                <a href="{{ url_for('eliminar',idP=row[0])}}">Eliminar</a>
                            </button>
                        </li>
                    </td>


                </tr>
                {% endfor %}
            </table>



        </section>

    </main>
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>


</body>

</html>