<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestor de inventario para cafeteria">
    <meta name="keywords" content="Inventario, Gestos de invetario, Cafeteria">
    <!--Titulo de la pagina -->
    <title>Inventario | Cafeteria</title>
    <!-- Conexion con la carpeta de css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/admin.js')}}"></script>

</head>

<body>

    <header>
        <h1 class="titulo">Inventario para cafeteria </h1>

    </header>

    <main>

        <section>
            <form action="/filtrarG" method="GET">
                <div class="contenedor-busqueda">
                    <input class="barraBusqueda" type="search" id="buscar" name="Buscar" placeholder="Buscar...">
                    <div class="botones">
                        <input href="{{ url_for('filtrarG')}}" class="busqueda" type="submit" value="Buscar" />
                        <input class="regresar" type="button" value="Regresar"
                            onclick="location.href= 'general.html'" />
                        <!--<a class="regresar" href="{{ url_for('administrador') }}">Regresar</a> -->
                    </div>
                </div>
            </form>
            <table class="tabla">

                <tr>
                    <th></th>
                    <th>Miniatura</th>
                    <th>Nombre</th>
                    <th>ID producto</th>
                    <th>Cantidad</th>
                    <th>descripción</th>
                    <th>Acción</th>
                </tr>
                {% for row in listas %}
                <tr>
                    <form method="POST">

                        <td></td>

                        <td> <input type="image" src="{{row[4]}}" width="200px" /> </td>

                        <td> {{row[1]}} </td>
                        <td> {{ row[0] }}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>

                            <li>
                                <button class="busqueda">
                                    <a href="{{ url_for('actualizarG',idP=row[0])}}">Editar</a>
                                </button>
                            </li>
                        </td>
                    </form>
                </tr>

                {% endfor %}
            </table>


        </section>

    </main>
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>


</body>

</html>