<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestor de inventario para cafeteria">
    <meta name="keywords" content="Inventario, Gestos de invetario, Cafeteria">
    <!--Titulo de la pagina -->
    <title>Inventario | Cafeteria</title>
    <!-- Conexion con la carpeta de css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/admin.js')}}"></script>

</head>

<body>

    <header>
        <h1 class="titulo">Inventario para cafeteria </h1>

    </header>

    <main>

        <section>
            <form action="/filtrar" method="GET">
                <div class="contenedor-busqueda">
                    <input class="barraBusqueda" type="search" id="buscar" name="Buscar" placeholder="Buscar...">
                    <div class="botones">
                        <input href="{{ url_for('filtrar')}}" class="busqueda" type="submit" value="Buscar" />
                        <input class="regresar" type="button" value="Regresar" onclick="location.href= 'admin.html'" />
                        <!--<a class="regresar" href="{{ url_for('administrador') }}">Regresar</a> -->
                    </div>
                </div>
            </form>
            <table class="tabla">

                <tr>
                    <th></th>
                    <th>Miniatura</th>
                    <th>Nombre</th>
                    <th>ID producto</th>
                    <th>Cantidad</th>
                    <th>descripción</th>
                    <th>Acción</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <form method="POST">

                        <td></td>

                        <td>{{ 0 }}</td>

                        <td> <input id="show1{{row[0]}}" value="{{row[1]}}" type="text" name="nameProducto" disabled>
                        </td>
                        <td> <input type="text" name="idP" value="{{ row[0] }}" disabled> </td>
                        <td>
                            <input id="show2{{row[0]}}" value="{{row[2]}}" type="text" name="quantity" disabled></td>
                        <td><input id="show3{{row[0]}}" value="{{row[3]}}" type="text" name="description" disabled></td>
                        <td>
                            <li>
                                <input type="button" value="editar" onclick="habilitar('{{row[0]}}');">
                            </li>

                            <li>
                                <button class="botones">
                                    <a href="{{ url_for('eliminar',idP=row[0])}}">Eliminar</a>
                                </button>
                            </li>
                            <li>
                                <button class="botones">
                                    <a href="{{ url_for('actualizar',idP=row[0])}}">Actualizar</a>
                                </button>
                            </li>
                        </td>
                    </form>
                </tr>
                <!-- <tr class="barra-edicion" id="show{{row[0]}}" style="display:none;">
                    <td></td>
                    <td></td>
                    <td>
                        <input id="nombre" value="{{row[1]}}" type="text">
                    </td>
                    <td>
                        <input id="codigo" value="{{row[0]}}" type="text">
                    </td>
                    <td>
                        <input id="cantidad" value="{{row[2]}}" type="text">
                    </td>
                    <td>
                        <input id="descripcion" value="{{row[3]}}" type="text">
                    </td>
                    <td>
                        <input type="button" value="Ocultar" onclick="myFunction('{{row[0]}}');">
                    </td>
                </tr> -->
                {% endfor %}
            </table>


        </section>

    </main>
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>


</body>

</html>