<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestor de inventario para cafeteria">
    <meta name="keywords" content="Inventario, Gestos de invetario, Cafeteria">
    <!--Titulo de la pagina -->
    <title>Inventario | Cafeteria</title>
    <!-- Conexion con la carpeta de css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css' ) }}">
    
   </head>
<body>
    
    <header>
        <h1 class="titulo">Inventario para cafeteria </h1>
        
    </header>

    <main>
        
    <section>
      <div class="datos">
          <div class="headerTable">
            <div class="tableTools"></div>
                <ul>
                    <li><span><input type="checkbox"></span></li>
                       <li>
                            <button>
                                <i class="material-icons">add</i>
                            </button>
                        </li>
                        <li>
                            <button>
                                <i class="material-icons">edit</i>
                            </button>
                        </li>
                        <li>
                            <button>
                                <i class="material-icons">delete</i>
                            </button>
                        </li>
                        <li>
                            
                        </li>
                </ul>
          </div>
        

      </div>
        <table class="tabla">
            
            <tr>
                <th></th>
                <th>Miniatura</th>
                <th>Nombre</th>
                <th>ID producto</th>
                <th>Cantidad</th>
                <th>descripción</th>
                <th>Acción</th>
            </tr>
            {% for row in rows %}
            <tr>
                <form action="/eliminar" method="POST">
                <td></td>
                <td>{{ 0 }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td >
                    <li>
                    <button class="botones">
                        <a href="{{ url_for('eliminar',idP=row[0])}}">editar</a>
                            <!--<i class="material-icons">edit</i>-->
                        </button>
                    </li>
                    <li>
                        <button class="botones">
                            <i class="material-icons">delete</i>
                        </button>
                    </li>
                </td>
                </form>
            </tr>
            {% endfor %}
        </table>



    </section>
    
    </main>


</body>
</html>
