@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    text-align: center;
    padding-top: 30px;
    color: greenyellow;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family: Architects Daughter;
    font-size: 50px;
    color:black;
}

.botones {
    background-color: rgb(166, 237, 59);
    font-weight: bolder;
    font-family: Sacramento;
    font-size: x-large;
    margin-top: 10px;
}