@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* fondo color inventario.html */

body {
    background-color: rgb(205, 200, 200);
}

/* fondo color inventario.html */

/* titulo centrado */
.titulo {
    text-align: center;
    font-family: Sacramento;
    font-size: 50px;
}

section {
    font-family: Sacramento;
    font-size: xx-large;
}


ul li {
    display: inline-block;
    margin: 0;
    padding: 3px;
    align-items: baseline;
}

ul li button {
    cursor: pointer;
    background: transparent;
    border: 0;
}

ul li button:hover {
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}


/* decoración tabla */
.tabla {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.tabla th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px black;
}

.tabla td {
    border-bottom: 1px solid black;
}

.tabla tr:nth-child(even) {
    background-color: bisque;
}

.tabla tr:hover {
    background-color: beige;
}

.tabla tr .available::after,
.tabla tr .no-available::after {
    display: inline-block;
    vertical-align: middle;

}

.tabla .available::before,
.tabla .no-available::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;

}

.tabla .available::before {
    background-color: green;
}

.tabla .no-available::before {
    background-color: red;
}

.botones {
    display: flex;
    flex-direction: column;
}

li {
    display: inline-block;
    margin: 0;
    padding: 3px;
    align-items: baseline;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../img/taza_Cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 390px;
    height: 370px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}